<div class="udw-sidebar tablet-sidebar">
    <div class="leftmenu">
        <aside class="aside-menuinner">
            <h3>Referências</h3>
            <nav class="nav__ref">
                <a href="/tags" class="n-nav-link">Tags do HTML</a>
                <a href="/attributes" class="n-nav-link">Atributos do HTML</a>
                <a href="/post/INTRODUÇÃO-AS-TAGS-DO-HTML:-O-ALFABETO-DA-WEB" class="n-nav-link">Introdução as Tags HTML</a>
                <a href="/post/NAVEGANDO-NA-WEB:-LINKS-E-ÂNCORAS-DO-HTML" class="n-nav-link">Links e Âncoras do HTML</a>
                <a href="/post/ORGANIZANDO-DADOS-COM-LISTAS-E-TABELAS-EM-HTML" class="n-nav-link">Listas e Tabelas do HTML</a>
                <a href="/post/ATRIBUTOS-GLOBAIS-DO-HTML:-UMA-VISÃO-ABRANGENTE" class="n-nav-link">Atributos Globais do HTML</a>
            </nav>
            <h3>Dicas</h3>
            <nav class="nav__ref">
                <a href="/post/AS-INÚMERAS-VANTAGENS-DOS-CURSOS" class="n-nav-link">A Importância dos Cursos</a>
                <a href="/post/AS-VANTAGENS-DE-ESTUDAR-COM-LIVROS" class="n-nav-link">A Importância dos Livros</a>
                <a href="/post/A-IMPORTÂNCIA-DO-INGLÊS-NO-DESENVOLVIMENTO-WEB" class="n-nav-link">A Importância de saber Inglês.</a>
            </nav>
        </aside>
    </div>
</div>