<div class="container is--footer">
    <div class="footer_site-maps flex-justify-center">
        <div class="footer_links">
            <a href="/">Página Inicial</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
            <a href="/blog">Blog</a>
        </div>
    </div>
    <div class="footer_legal-content-wrap flex-justify-center">
        <div class="legal-div">
            <p>
                &copy; <%= new Date().getFullYear(); %> Universe Dev Web -
                <a href="/privacidade">política de privacidade</a>
            </p>
        </div>
    </div>
</div>