<div class="nav-brand-holer">
    <a href="/" class="header-nav-logo">
        <img src="/img/udw.png" alt="Logo">
    </a>
    <div class="mobile-menu-button n-nav-button" role="button">
        <div class="burger">
            <i class='bx bx-menu icon-menu-burger'></i>
            <i class='bx bx-x icon-menu-x visibility'></i>
        </div>
    </div>
</div>
<nav role="navigation" class="nav-menu-main n-nav-menu">
    <div class="nav-links-holder-desktop display-nav">
        <a href="/sobre" class="nav-link n-nav-link">Sobre</a>
        <a href="/contato" class="nav-link n-nav-link">Contato</a>
        <div class="nav-dropdown n-dropdown">
            <div class="nav-dropdown-block n-dropdown-toggle" role="button">
                <div>Conteúdo</div>
                <div class="nav-dropdown-icon-holder">
                    <i class='bx bx-chevron-down'></i>
                    <i class='bx bx-chevron-up visibility'></i>
                </div>
            </div>
            <nav class="dropdown-list-nav n-dropdown-list nav-blog visibility list-content">
                <a href="/blog" class="n-nav-link">Blog</a>
                <a href="/tags" class="n-nav-link">Tags do HTML</a>
                <a href="/attributes" class="n-nav-link">Atributos do HTML</a>
                <a href="/post/INTRODUÇÃO-AS-TAGS-DO-HTML:-O-ALFABETO-DA-WEB" class="n-nav-link">Introdução as Tags HTML</a>
                <a href="/post/NAVEGANDO-NA-WEB:-LINKS-E-ÂNCORAS-DO-HTML" class="n-nav-link">Links e Âncoras do HTML</a>
                <a href="/post/ORGANIZANDO-DADOS-COM-LISTAS-E-TABELAS-EM-HTML" class="n-nav-link">Listas e Tabelas do HTML</a>
                <a href="/post/ATRIBUTOS-GLOBAIS-DO-HTML:-UMA-VISÃO-ABRANGENTE" class="n-nav-link">Atributos Globais do HTML</a>
            </nav>
        </div>
        <div class="nav-dropdown n-dropdown">
            <div class="nav-dropdown-block n-dropdown-toggle" role="button">
                <div>Aprenda com</div>
                <div class="nav-dropdown-icon-holder">
                    <i class='bx bx-chevron-down'></i>
                    <i class='bx bx-chevron-up visibility'></i>
                </div>
            </div>
            <nav class="dropdown-list-nav n-dropdown-list nav-cursos visibility">
                <nav class="nav__ref">
                    <a href="/post/AS-INÚMERAS-VANTAGENS-DOS-CURSOS" class="n-nav-link">Cursos</a>
                    <a href="/post/AS-VANTAGENS-DE-ESTUDAR-COM-LIVROS" class="n-nav-link">Livros</a>
                </nav>
            </nav>
        </div>
    </div>
    <div class="nav-links-holder-tablet display-nav">
        <div class="nav-dropdown main-tablet">
            <div class="nav-dropdown-block n-dropdown-toggle" role="button">
                <div class="text-block-menu">Menu</div>
                <div class="nav-dropdown-icon-holder">
                    <i class='bx bx-chevron-down'></i>
                    <i class='bx bx-chevron-up visibility'></i>
                </div>
            </div>
            <nav class="dropdown-list-nav n-dropdown-list visibility">
                <a href="/sobre" class="n-nav-link">Sobre</a>
                <a href="/contato" class="n-nav-link">Contato</a>
                <a href="/blog" class="n-nav-link">Blog</a>
            </nav>
        </div>
    </div>
    <div class="nav-links-holder-mobile display-nav visibility">
        <nav class="nav-links-mobile">
            <a href="/sobre" class="nav-link n-nav-link">Sobre</a>
            <a href="/contato" class="nav-link n-nav-link">Contato</a>
            <div class="nav-dropdown n-dropdown">
                <div class="nav-dropdown-block n-dropdown-toggle" role="button">
                    <div>Conteúdo</div>
                    <div class="nav-dropdown-icon-holder">
                        <i class='bx bx-chevron-down'></i>
                        <i class='bx bx-chevron-up visibility'></i>
                    </div>
                </div>
                <nav class="dropdown-list-nav  visibility list-content-mobile">
                    <a href="/blog" class="n-nav-link">Blog</a>
                    <a href="/tags" class="n-nav-link">Tags do HTML</a>
                    <a href="/attributes" class="n-nav-link">Atributos do HTML</a>
                    <a href="/post/INTRODUÇÃO-AS-TAGS-DO-HTML:-O-ALFABETO-DA-WEB" class="n-nav-link">Introdução as Tags HTML</a>
                    <a href="/post/NAVEGANDO-NA-WEB:-LINKS-E-ÂNCORAS-DO-HTML" class="n-nav-link">Links e Âncoras do HTML</a>
                    <a href="/post/ORGANIZANDO-DADOS-COM-LISTAS-E-TABELAS-EM-HTML" class="n-nav-link">Listas e Tabelas do HTML</a>
                    <a href="/post/ATRIBUTOS-GLOBAIS-DO-HTML:-UMA-VISÃO-ABRANGENTE" class="n-nav-link">Atributos Globais do HTML</a>
                </nav>
            </div>
            <div class="nav-dropdown n-dropdown">
                <div class="nav-dropdown-block n-dropdown-toggle" role="button">
                    <div>Aprenda com</div>
                    <div class="nav-dropdown-icon-holder">
                        <i class='bx bx-chevron-down'></i>
                        <i class='bx bx-chevron-up visibility'></i>
                    </div>
                </div>
                <nav class="dropdown-list-nav visibility">
                    <a href="/post/AS-INÚMERAS-VANTAGENS-DOS-CURSOS" class="n-nav-link">Cursos</a>
                    <a href="/post/AS-VANTAGENS-DE-ESTUDAR-COM-LIVROS" class="n-nav-link">Livros</a>
                </nav>
            </div>
        </nav>
    </div>
</nav>
