<div class="search-bar">
    <form action="/search" class="search__form" role="search" method="post">
        <input type="search" aria-label="search" id="searchInput" name="searchTerm" placeholder="Pesquisar...">
        <button type="submit">
            <i class='bx bx-search-alt-2'></i>
        </button>
    </form>
</div>
<div class="search_icon search_show">
    <i class='bx bx-search-alt-2'></i>
</div>