<div class="container_404">
    <div class="error_msg">
        <div class="error_img">
            <img src="/img/udw.png" alt="Logo universedevweb">
        </div>
        <div class="error">
            <p>Houve um erro.</p>
            <p>Por favor tente mais tarde.</p>
        </div>
    </div>
</div>
