<section class="contact">
    <div class="contact__container">
        <aside class="contact__aside">
            <div class="aside__image">
                <img src="img/udw.png" alt="imagen de fundo de contato">
            </div>
            <h2>
                Tire suas dúvidas <br>
                Fale conosco!
            </h2>
        </aside>
        <form action="https://formspree.io/f/mdoryjrj" class="contact__form" method="post">
            <div class="form__name">
                <input class="form__data" type="text" name="First Name" placeholder="Primerio nome: " required>
                <input class="form__data" type="text" name="Last Name" placeholder="Segundo nome: " required>
            </div>
            <input type="email" class="form__data" name="Email Address" placeholder="Email: " required>
            <textarea class="form__data" name="Message" rows="7" placeholder="Sua Mensagem..." required></textarea>
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
</section>
