<div class="content__grid">
    <%- include('./partials/aside.ejs') %>
    <div class="container-wrap">
        <header class="heading-hero">
            <div class="container-header">
                <h1 class="heading">Política de privacidade</h1>
            </div>
        </header>
        <div class="content">
            <p>Este site é mantido e operado por universedevweb.com</p>
            <p>Proteger suas informações privadas é nossa prioridade. Esta declaração de privacidade aplica-se ao universedevweb.com e rege a coleta e uso de dados.</p>
            <h2>Como entrar em contato conosco</h2>
            <p>Para esclarecer quaisquer dúvidas sobre nossa Política de Privacidade ou sobre os dados pessoais que tratamos, <a href="/contato">entre em contato conosco.</a></p>
        </div>
    </div>
</div>