<div class="content__grid">
    <%- include('./partials/aside.ejs') %>
    <div class="container-wrap">
        <header class="heading-hero">
            <div class="container-header">
                <h1 class="heading">Política de privacidade</h1>
            </div>
        </header>
        <div class="content">
            <p>Este site é mantido e operado por universedevweb.com</p>
            <p>Proteger suas informações privadas é nossa prioridade. Esta declaração de privacidade aplica-se ao universedevweb.com e rege a coleta e uso de dados.</p>
            <p>Nós coletamos e utilizamos alguns dados pessoais que pertencem aqueles que utilizam nosso site. Ao fazê-lo, agimos na qualidade de controlador desses dados e estamos sujeitos às disposições da <a target="_blank" href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm">Lei Federal n.13.709/2018</a>(Lei Geral de Proteção de Dados Pessoais - LGPD).</p>
            <ol>
                <li>
                    <h2>Quem deve utilizar nosso site</h2>
                    <p>Nosso site pode ser utilizado por qualquer pessoa pois não contém nenhum conteúdo improprio.</p>
                </li>
                <li>
                    <h2>Dados que coletamos e motivo da coleta</h2>
                    <p>Nosso site coleta e utiliza alguns dados pessoais dos usuários, sendo esses:</p>
                    <ol>
                        <li>
                            <h3>Dados pessoais fornecidos pelo usuário:</h3>
                            <ul>
                                <li>Endereço de e-mail</li>
                                <li>Nome do usuário</li>
                            </ul>
                            <p>
                                <strong>A coleta destes dados ocorre nos seguintes momentos:</strong>
                                <ul>
                                    <li>Quando o usuário enviar um formulário de e-mail para nós.</li>
                                </ul>
                            </p>
                            <p>
                                <strong>Os dados fornecidos pelos usuários são coletados para os seguintes propósitos:</strong>
                                <ul>
                                    <li>Quando haver a necessidade de enviar um e-mail de resposta para o usuário.</li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <h3>Dados sensíveis</h3>
                            <p>Não serão coletados dados sensíveis de nossos usuários, assim entendidos aqueles definidos nos arts.11 e seguintes da Lei de Proteção de Dados Pessoais Assim, não haverá coleta de dados sobre origem racial ou ética, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural.</p>
                        </li>
                        <li>
                            <h3>Cookies</h3>
                            <p>Cookies são pequenos arquivos de textos baixados automaticamente em seu dispositivo quando você acessa e navega por um site. Eles servem, basicamente, para que seja possível identificar dispositivos, atividades e preferências de usuários.</p>
                            <p>Os cookies não permitem que qualquer arquivo ou informação sejam extraídos do disco rígido do usuário, não sendo possível, ainda, que, por meio deles, se tenha acesso a informações pessoais que não tenham partido do usuário ou da forma como utiliza os recursos do site.</p>
                            <h4>.Cookies de terceiros</h4>
                            <p>Alguns de nossos parceiros podem configurar cookies nos dispositivos dos usuários que acessam nosso site.</p>
                            <p>Estes cookies, em geral, visam possibilitar que nossos parceiros possam oferecer seu conteúdo e seus serviços ao usuário que acessa nosso site de forma personalizada, por meio da obtenção de dados de navegação extraídos a partir de sua interação com o site.</p>
                            <h4>.Gestão de cookies</h4>
                            <p>O usuário poderá se opor ao registro de cookies pelo site, bastando que desative esta opção no seu próprio navegador. Mais informações sobre como fazer isso em alguns dos principais navegadores utilizados hoje podem ser acessadas a partir dos seguintes links:</p>
                            <ul>
                                <li>
                                    <a target="_blank" href="https://support.microsoft.com/pt-br/windows/excluir-e-gerenciar-cookies-168dab11-0753-043d-7c16-ede5947fc64d">Internet Explorer</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://support.apple.com/pt-br/guide/safari/sfri11471/mac">Safari</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://support.google.com/chrome/answer/95647">Google Chrome</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://support.mozilla.org/pt-BR/kb/impeca-que-sites-armazenem-cookies-e-dados-no-fire">Mozila Firefox</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://help.opera.com/en/latest/web-preferences/#cookies">Opera</a>
                                </li>
                            </ul>
                            <p>A desativação dos cookies, no entanto, pode afetar a disponibilidade de algumas ferramentas e funcionalidade do site, comprometendo seu correto e esperado funcionamento. Outra consequência possível é remoção das preferências do usuário que eventualmente tiverem sido salvas, prejudicando sua experiência.</p>
                        </li>
                        <li>
                            <h3>Coleta de dados não previstos expressamente</h3>
                            <p>Eventualmente, outros tipos de dados não previstos expressamente nesta Política de Privacidade poderão ser coletados, desde que sejam fornecidos com o consentimento do usuário, ou, ainda, que a coleta seja permitida com fundamentos em outra base legal prevista em lei.</p>
                            <p>Em qualquer caso, a coleta de dados e as atividades de tratamento dela decorrentes serão informadas aos usuários do site.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <h2>Compartilhamento de dados pessoais com terceiros</h2>
                    <p>Nós compartilhamos alguns dados pessoais mencionados nesta seção com terceiros.</p>
                    <p><strong>Os dados compartilhados são:</strong></p>
                    <p>E-mail, nome do usuário</p>
                    <p><strong>Estes dados são compartilhados pelas seguintes razões e para as seguintes finalidades:</strong></p>
                    <p>Nosso site usa um serviço de terceiro para o envio de formulário de e-mail, sendo assim, existe a necessidade de compartilhamento dos dados para a prestação do serviço.</p>
                    <p>Além das situações aqui informadas, é possível que compartilhemos dados com terceiros para cumprir alguma determinação legal ou regulatória, ou, ainda, para cumprir alguma ordem expedida por autoridade pública.</p>
                    <p>Em qualquer caso, o compartilhamento de dados pessoais observará todas as leis e regras aplicáveis, buscando sempre garantir a segurança dos dados de nossos usuários, observados os padrões técnicos empregados no mercado.</p>
                    <p>Os dados pessoais coletados pelo site são armazenados e utilizados por período de tempo que corresponda ao necessário para atingir as finalidades elencadas neste documento e que considere os direitos de seus titulares, os direitos do controlador do site e as disposições legais ou regulatórias aplicáveis.</p>
                </li>
                <li>
                    <h2>Bases legais para o tratamento de dados pessoais</h2>
                    <p>Cada operação de tratamento de dados pessoais precisa ter um fundamento jurídico, ou seja, uma base legal, que nada mais é que uma justificativa que a autorize, prevista na Lei Geral de Proteção de Dados Pessoais.</p>
                    <p>Todas as nossas atividades de tratamento de dados pessoais possuem uma base legal que as fundamenta, dentre as permitidas pela legislação. </p>
                </li>
                <li>
                    <h2>Medidas de segurança no tratamento de dados pessoais</h2>
                    <p>Empregamos medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, extravio ou alteração desses dados.</p>
                    <p>As medidas que utilizamos levam em consideração a natura dos dados, o contexto e a finalidade do tratamento, os riscos que uma eventual violação geraria para os direitos e liberdades do usuário, e os padrões atualmente empregados no mercado por empresas semelhantes à nossa.</p>
                    <p><strong>Entre as medidas de segurança adotadas por nós, destacamos as seguintes:</strong></p>
                    <ul>
                        <li>Os dados de nossos usuários são armazenados em ambiente seguro;</li>
                        <li>Limitamos o acesso aos dados de nossos usuários, de modo que terceiros não autorizados não possam acessá-los;</li>
                        <li>Utilizamos certificado SSL (Secure Socket Layer), de modo que a transmissão de dados entre os dispositivos dos usuários e nossos servidores aconteça de forma criptografada;</li>
                        <li>Mantemos registros de todos aqueles que têm, de alguma forma, contato com nossos dados.</li>
                    </ul>
                    <p>Ainda que adote tudo o que está ao seu alcance para evitar incidentes de segurança, é possível que ocorra algum problema motivado exclusivamente por um terceiro – como em caso de ataques de hackers ou crackers ou, ainda, em caso de culpa exclusiva do usuário, que ocorre, por exemplo, quando ele mesmo transfere seus dados a terceiros. Assim, embora sejamos, nos eximimos de responsabilidade caso ocorra uma situação excepcional como essas, sobre as quais não temos nenhum tipo de controle.</p>
                    <p>De qualquer forma, caso ocorra qualquer tipo de incidente de segurança que possa gerar risco ou dano relevante para qualquer de nossos usuários, comunicaremos os afetados e a Autoridade Nacional de Proteção de Dados acerca do ocorrido, em conformidade com o disposto na Lei Geral de Proteção de Dados.</p>
                </li>
                <li>
                    <h2>Alterações nesta política</h2>
                    <p>A presente versão desta Política de Privacidade foi atualizada pela última vez em: 02/11/2023.</p>
                    <p>Reservamo-nos o direito de modificar, a qualquer momento, as presentes normas, especialmente para adaptá-las às eventuais alterações feitas em nosso site, seja pela supressão ou modificação daquelas já existentes.</p>
                    <p>Sempre que houver uma modificação, nossos usuários serão notificados acerca da mudança.</p>
                </li>
                <li>
                    <h2>Como entrar em contato conosco</h2>
                    <p>Para esclarecer quaisquer dúvidas sobre nossa Política de Privacidade ou sobre os dados pessoais que tratamos, <a href="/contato">entre em contato conosco.</a></p>
                </li>
            </ol>
        </div>
    </div>
</div>