<div class="content__grid">
    <%- include('./partials/aside.ejs') %>
    <div class="container-wrap">
        <header class="heading-hero">
            <div class="container-header">
                <h1 class="heading">
                    Sobre
                    <span class="heading-hero-lmh">UniverseDevWeb.com</span>
                </h1>
            </div>
        </header>
        <div class="about__content">
            <p>UniverseDevweb.com é um site voltado a informação. Desenvolvido para o aprendizado da linguagem HTML, tecnologia usada no desenvolvimento web.</p>
            <h2>Oque oferecemos?</h2>
            <p>A <a href="/">página principal</a> tem as informações que você precisa saber para entender o que é o HTML, e como ele funciona no mundo do desenvolvimento web.</p>
            <p>Nossa página de <a href="/post/655e15ae387aabd6e60cf296">Introdução as tags do HTML</a> vai te dar uma noção básica do que são as tags , como elas funcionam e como usá-las.</p>
            <p>Temos uma grande quantidade de informações e colocamos ela do jeito mais fácil de se compreender possível para aqueles que estão no total começo desse mundo maravilhoso do desenvolvimento web.</p>
            <h2>Política de privacidade</h2>
            <p>Levamos a privacidade dos nossos leitores muito a sério. Não gostamos de nenhum tipo spam e prometemos não vender, negociar ou usar indevidamente as informações que vocês nos fornecem de qualquer forma. Se quiser mais detalhes, confira nossa <a href="/privacidade">política de privacidade.</a></p>
            <h2>Fale conosco</h2>
            <p>O universedeweb.com é um site novo e estamos constantemente fazendo alterações e atualizando no site, além de estar adicionando novos conteúdos. Caso exista alguma dúvida, comentário ou preocupação, não hesite em entrar em <a href="/contato">contato conosco</a>. Estamos sempre disponível para escutar suas ideias e comentários.</p>
        </div>
    </div>
</div>